apiVersion: "cilium.io/v2"
kind: CiliumNetworkPolicy
metadata:
  name: "l7-visibility"
spec:
  endpointSelector:
    matchExpressions:
      - key: "io.kubernetes.pod.namespace"
        operator: "NotIn"
        values:
        - "kube-system"
  egress:
  - toPorts:
    - ports:
      - port: "443"
        protocol: TCP
      rules:
        dns:
        - matchPattern: "*"
  ingress:
  - toPorts:
    - ports:
      - port: "443"
        protocol: TCP
      rules:
        dns:
        - matchPattern: "*"