apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
    name: cilium
    namespace: argocd
spec:
    project: default
    sources:
    - chart: cilium
      repoURL: https://helm.cilium.io/
      targetRevision: 1.10.4
      helm:
        releaseName: cilium
        valueFiles:
            - $values/values/cilium-values.yaml
    - repoURL: https://github.com/you-randomly/argo-cd.git
      targetRevision: HEAD
      ref: values
    destination:
        server: "https://kubernetes.default.svc"
        namespace: kube-system