apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
    name: cilium
    namespace: argocd
spec:
    project: default
    source:
        chart: cilium
        repoURL: https://helm.cilium.io/
        targetRevision: 1.10.4
        helm:
            releaseName: cilium
            valueFiles:
                - cilium-values.yaml
    destination:
        server: "https://kubernetes.default.svc"
        namespace: kube-system