apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: bitwarden-secretsmanager
  namespace: external-secrets
spec:
  provider:
    bitwardensecretsmanager:
      apiURL: https://api.bitwarden.com
      identityURL: https://identity.bitwarden.com
      bitwardenServerSDKURL: https://bitwarden-sdk-server.external-secrets.svc.cluster.local:9998
      organizationID: 98aa5b9b-bfa0-4265-9e54-b1e6018a12d9
      projectID: 916c23f8-17d3-410e-bc72-b1e700012293
      auth:
        secretRef:
          credentials:
            namespace: external-secrets
            name: eso-bw-token
            key: token
      caProvider:
        type: Secret
        namespace: external-secrets
        name: bitwarden-tls-certs
        key: ca.crt
