apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cf-extdns-email
  namespace: external-dns
spec:
  refreshInterval: 10s
  secretStoreRef:
    # This name must match the metadata.name in the `SecretStore`
    name: bitwarden-secretsmanager
    kind: ClusterSecretStore
  data:
  - secretKey: email
    remoteRef:
      key: "c889f2df-2f9e-4c95-bd66-b1f40158de6a"
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cf-extdns-key
  namespace: external-dns
spec:
  refreshInterval: 10s
  secretStoreRef:
    # This name must match the metadata.name in the `SecretStore`
    name: bitwarden-secretsmanager
    kind: ClusterSecretStore
  data:
  - secretKey: api-key
    remoteRef:
      key: "19a22689-3417-4de4-9406-b1ea011195b7"
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: pihole-password
  namespace: external-dns
spec:
  refreshInterval: 10s
  secretStoreRef:
    # This name must match the metadata.name in the `SecretStore`
    name: bitwarden-secretsmanager
    kind: ClusterSecretStore
  data:
  - secretKey: EXTERNAL_DNS_PIHOLE_PASSWORD
    remoteRef:
      key: "db18c846-6bbb-41f8-830f-b1ea0122ab47"
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-dns
  namespace: argocd
spec:
  destination:
    namespace: external-dns
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: external-dns
    repoURL: https://kubernetes-sigs.github.io/external-dns/
    targetRevision: 1.15.0
    helm:
      valuesObject:
        provider:
          name: pihole
        registry: noop
        sources:
          - gateway-httproute
          - crd
        
        env:
          - name: EXTERNAL_DNS_PIHOLE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: pihole-password
                key: EXTERNAL_DNS_PIHOLE_PASSWORD
          - name: EXTERNAL_DNS_PIHOLE_SERVER
            value: "https://192.168.2.74"
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true