kind: Namespace
apiVersion: v1
metadata:
  name: foundry-vtt
---
kind: ExternalSecret
apiVersion: external-secrets.io/v1beta1
metadata:
  name: foundry-vtt
  namespace: foundry-vtt
spec:
  refreshInterval: 10s
  secretStoreRef:
    name: bitwarden-secretsmanager
    kind: ClusterSecretStore
  data:
    - secretKey: password
      remoteRef:
        key: "1d5d6edc-8005-4313-8524-b1f601490707"
    - secretKey: username
      remoteRef:
        key: "419ba4a2-8683-4fbd-811e-b1f60148c9aa"
    - secretKey: adminPassword
      remoteRef:
        key: "d4595a98-1408-4218-a70f-b1f6014de185"
    - secretKey: license-key
      remoteRef:
        key: "66aaa0b2-d962-4608-96c9-b1f6014d5534"
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: foundry-vtt
  namespace: foundry-vtt
spec:
  storageClassName: longhorn-talos
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: foundry-vtt
  namespace: foundry-vtt
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: foundry-vtt
  template:
    metadata:
      labels:
        app: foundry-vtt
    spec:
      initContainers:
      - name: volume-permissions
        image: busybox:1.36
        command: ["sh", "-c", "chown -R 1000:1000 /data"]
        volumeMounts:
        - name: foundry-vtt
          mountPath: /data
      containers:
      - name: foundry-vtt
        image: felddy/foundryvtt:13.347.0
        ports:
        - containerPort: 30000
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: false
          seccompProfile:
            type: RuntimeDefault
        resources:
          requests:
            cpu: 100m
            memory: 100Mi

        env:
        - name: UV_THREADPOOL_SIZE
          value: "6"
        - name: CONTAINER_CACHE
          value: /data/container_cache
        - name: CONTAINER_CACHE_SIZE
          value: "1"
        - name: FOUNDRY_GID
          value: "421"
        - name: CONTAINER_PATCHES
          value: /data/patches
        - name: TIMEZONE
          value: UTC
        - name: FOUNDRY_UID
          value: "421"
        - name: FOUNDRY_HOSTNAME
          value: foundry-vtt.lab.jake-watson.co.uk
        - name: FOUNDRY_LOCAL_HOSTNAME
          value: foundry-vtt.lab.jake-watson.co.uk
        - name: FOUNDRY_LANGUAGE
          value: en.core
        - name: FOUNDRY_MINIFY_STATIC_FILES
          value: "true"
        - name: FOUNDRY_CSS_THEME
          value: foundry
        - name: FOUNDRY_PROXY_SSL
          value: "true"
        - name: FOUNDRY_PROXY_PORT
          value: "443"
        - name: FOUNDRY_USERNAME
          valueFrom:
            secretKeyRef:
              name: foundry-vtt
              key: username
        - name: FOUNDRY_PASSWORD
          valueFrom:
            secretKeyRef:
              name: foundry-vtt
              key: password
        - name: FOUNDRY_ADMIN_KEY
          valueFrom:
            secretKeyRef:
              name: foundry-vtt
              key: adminPassword
        - name: FOUNDRY_LICENSE_KEY
          valueFrom:
            secretKeyRef:
              name: foundry-vtt
              key: license-key
        - name: CONTAINER_VERBOSE
          value: "true"
        volumeMounts:
        - name: foundry-vtt
          mountPath: /data
      volumes:
      - name: foundry-vtt-cache
        nfs:
          server: "192.168.200.184"
          path: "/volume1/Nomad/foundry-container-cache"
      - name: foundry-vtt
        persistentVolumeClaim:
          claimName: foundry-vtt
---
apiVersion: v1
kind: Service
metadata:
  name: foundry-vtt
  namespace: foundry-vtt
spec:
  selector:
    app: foundry-vtt
  ports:
    - protocol: TCP
      port: 80
      targetPort: 30000
  type: ClusterIP
---
apiVersion: gateway.networking.k8s.io/v1beta1
kind: HTTPRoute
metadata:
  name: foundry-vtt
  namespace: foundry-vtt
spec:
  hostnames:
    - foundry-vtt.lab.jake-watson.co.uk
  parentRefs:
    - name: cilium-gateway-external
      namespace: default
  rules:
    - backendRefs:
        - name: foundry-vtt
          port: 80
---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: foundry-vtt
  namespace: foundry-vtt
spec:
  endpoints:
    - dnsName: foundry-vtt.lab.jake-watson.co.uk
      recordTTL: 300
      recordType: A
      targets:
        - 212.69.47.125
