kind: Namespace
apiVersion: v1
metadata:
  name: foundry-vtt
---
kind: ExternalSecret
apiVersion: external-secrets.io/v1beta1
metadata:
  name: foundry-vtt
  namespace: foundry-vtt
spec:
  refreshInterval: 10s
  secretStoreRef:
    name: bitwarden-secretsmanager
    kind: ClusterSecretStore
  data:
    - secretKey: password
      remoteRef:
        key: "1d5d6edc-8005-4313-8524-b1f601490707"
    - secretKey: username
      remoteRef:
        key: "419ba4a2-8683-4fbd-811e-b1f60148c9aa"
    - secretKey: adminPassword
      remoteRef:
        key: "d4595a98-1408-4218-a70f-b1f6014de185"
    - secretKey: license-key
      remoteRef:
        key: "66aaa0b2-d962-4608-96c9-b1f6014d5534"
---
apiVersion: v1
kind: deployment
metadata:
  name: foundry-vtt
  namespace: foundry-vtt
spec:
  replicas: 1
  selector:
    matchLabels:
      app: foundry-vtt
  template:
    metadata:
      labels:
        app: foundry-vtt
    spec:
      containers:
      - name: foundry-vtt
        image: felddy/foundryvtt:release
        ports:
        - containerPort: 30000
        env:
        - name: FOUNDRY_USERNAME
          valueFrom:
            secretKeyRef:
              name: foundry-vtt
              key: username
        - name: FOUNDRY_PASSWORD
          valueFrom:
            secretKeyRef:
              name: foundry-vtt
              key: password
        - name: FOUNDRY_ADMIN_KEY
          valueFrom:
            secretKeyRef:
              name: foundry-vtt
              key: adminPassword
        - name: FOUNDRY_LICENSE_KEY
          valueFrom:
            secretKeyRef:
              name: foundry-vtt
              key: license-key
---
apiVersion: v1
kind: service
metadata:
  name: foundry-vtt
  namespace: foundry-vtt
spec:
  selector:
    app: foundry-vtt
  ports:
    - protocol: TCP
      port: 80
      targetPort: 30000
  type: clusterIP
---
apiVersion: gateway.networking.k8s.io/v1beta1
kind: HTTPRoute
metadata:
  name: foundry-vtt
  namespace: foundry-vtt
spec:
  hostnames:
    - foundry-vtt.lab.jake-watson.co.uk
  parentRefs:
    - name: cilium-gateway-external
      namespace: default
  rules:
    - backendRefs:
        - name: foundry-vtt
          port: 80