kind: Namespace
apiVersion: v1
metadata:
  name: kube-prometheus-stack
  labels:
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/enforce-version: latest
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/audit-version: latest
    pod-security.kubernetes.io/warn: privileged
    pod-security.kubernetes.io/warn-version: latest
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  destination:
    namespace: kube-prometheus-stack
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: kube-prometheus-stack
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 65.1.1
    helm:
      values: |
        grafana:
          enabled: true
          ingress:
            enabled: false
          persistence:
            enabled: true
            storageClassName: longhorn-talos
            size: 5Gi
        prometheusOperator:
          prometheus:
            prometheusSpec:
              storageSpec:
                volumeClaimTemplate:
                  spec:
                    storageClassName: longhorn-talos
                    accessModes: ["ReadWriteOnce"]
                    resources:
                      requests:
                        storage: 10Gi
        kube-state-metrics:
          enabled: true
        nodeExporter:
          enabled: true
        alertmanager:
          enabled: true
          ingress:
            enabled: false
          persistence:
            enabled: true
            storageClassName: longhorn-talos
            size: 5Gi
        kubelet:
          serviceMonitor:
            https: true
        kubeScheduler:
          serviceMonitor:
            https: true
        kubeControllerManager:
          serviceMonitor:
            https: true
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
---
kind: HTTPRoute
apiVersion: gateway.networking.k8s.io/v1beta1
metadata:
  name: ui-kube-prometheus-stack
  namespace: kube-prometheus-stack
spec:
  hostnames:
    - grafana.lab.jake-watson.co.uk
  parentRefs:
  - name: cilium-gateway
    namespace: default
  rules:
  - backendRefs:
         - name: kube-prometheus-stack-grafana
           port: 80