apiVersion: v1
kind: Namespace
metadata:
  name: longhorn-system
  labels:
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/enforce-version: latest
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/audit-version: latest
    pod-security.kubernetes.io/warn: privileged
    pod-security.kubernetes.io/warn-version: latest
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn
  namespace: argocd
spec:
  syncPolicy:
    syncOptions:
      - CreateNamespace=false
  project: default
  sources:
    - chart: longhorn
      repoURL: https://charts.longhorn.io/
      targetRevision: v1.9.1 # Replace with the Longhorn version you'd like to install or upgrade to
      helm:
        values: |
          preUpgradeChecker:
            jobEnabled: true
          metrics:
            serviceMonitor:
              enabled: true
          
  destination:
    server: https://kubernetes.default.svc
    namespace: longhorn-system
---
apiVersion: gateway.networking.k8s.io/v1beta1
kind: HTTPRoute
metadata:
  name: ui-longhorn
  namespace: longhorn-system
spec:
       hostnames:
       - longhorn.lab.jake-watson.co.uk
       parentRefs:
       - name: cilium-gateway
         namespace: default
       rules:
       - backendRefs:
              - name: longhorn-frontend
                port: 80
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: longhorn-talos
provisioner: driver.longhorn.io
allowVolumeExpansion: true
parameters:
  numberOfReplicas: "3"
  dataLocality: "best-effort"
  staleReplicaTimeout: "2880" # 48 hours in minutes
  fromBackup: ""
  fsType: "ext4"
  reclaimPolicy: "Delete"
---
apiVersion: longhorn.io/v1beta1
kind: RecurringJob
metadata:
  name: snapshot-1
  namespace: longhorn-system
spec:
  cron: "0 */2 * * *"
  task: "backup"
  groups:
  - default
  retain: 12
  concurrency: 2
