kind: Namespace
apiVersion: v1
metadata:
  name: netdata
  labels:
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/enforce-version: latest
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/audit-version: latest
    pod-security.kubernetes.io/warn: privileged
    pod-security.kubernetes.io/warn-version: latest
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: netdata
  namespace: argocd
spec:
  syncPolicy:
    syncOptions:
      - CreateNamespace=false
  project: default
  sources:
    - chart: netdata
      repoURL: https://netdata.github.io/helmchart/
      targetRevision: "3.7.101"
      helm:
        valuesObject:
          ingress:
            enabled: false
          k8sState:
            persistence:
              enabled: true
              storageclass: longhorn-talos
              volumesize: 3Gi
          parent:
            database:
              storageclass: longhorn-talos
              volumesize: 5Gi
            alarms:
              storageclass: longhorn-talos
              volumesize: 3Gi
  destination:
    server: https://kubernetes.default.svc
    namespace: netdata
---
kind: HTTPRoute
apiVersion: gateway.networking.k8s.io/v1beta1
metadata:
  name: ui-netdata
  namespace: netdata
spec:
  hostnames:
    - netdata.lab.jake-watson.co.uk
  parentRefs:
    - name: cilium-gateway
      namespace: default
  rules:
    - backendRefs:
        - name: netdata
          port: 19999
